@import "partials/reset.scss";

body {
    font-size: 100%;
}

#logo {
    fill: url(#myGradient);
}

#shuffle {
    width: 1.875em;
}

#repeat {
    width: 1.875em;
}

#play {
    width: 3em;
}

#timer {
    width: 1.875em;;
}

svg {
    width: 2.5em;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 14px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

.h-custom {
    height: 87vh;
}

.h-menu {
    @media (min-width: 1024px) {
        height: 30vh;
    }
}

.h-cover-img {
    height: 30vh;
}

.range {
    accent-color: #fff;
}
